In [1]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection string
engine = create_engine('postgresql://uvg_user:uvg_password@db:5432/health_data')

# Simple query to test the foundation layer
try:
    df = pd.read_sql("SELECT 1 as connection_status", engine)
    print("Connection Successful! Your Biomedical Data Stack is ready.")
    print(df)
except Exception as e:
    print(f"Connection Failed: {e}")

Connection Successful! Your Biomedical Data Stack is ready.
   connection_status
0                  1

In [6]:
df = pd.read_sql("""
SELECT patient_id, sex, birth_date, created_at
FROM patient
ORDER BY patient_id;
""", engine)

df

   patient_id sex  birth_date                 created_at
0           1   F  1990-05-12 2026-01-16 00:35:51.849215
1           2   M  1984-11-03 2026-01-16 00:35:51.849215
2           3   O  2001-07-21 2026-01-16 00:35:51.849215
3           4   F  1975-02-18 2026-01-16 00:35:51.849215
4           5   M  1998-09-30 2026-01-16 00:35:51.849215

In [7]:
pd.read_sql("SELECT sex, COUNT(*) n FROM patient GROUP BY sex ORDER BY n DESC;", engine)

  sex  n
0   M  2
1   F  2
2   O  1

In [11]:
pd.read_sql("SELECT COUNT(*) AS chronic_patients FROM patient WHERE has_chronic_condition = true;", engine)

   chronic_patients
0                 2

In [12]:
pd.read_sql("SELECT city, COUNT(*) AS n FROM patient GROUP BY city ORDER BY n DESC;", engine)

             city  n
0       Guatemala  2
1         Antigua  1
2       Escuintla  1
3  Quetzaltenango  1