# Lab 02 — Terminología y Semántica

## Mini “Terminology Server” dentro de PostgreSQL

**Meta del lab:** comparar analítica **antes vs después** de codificar diagnósticos y laboratorios.

## 0) Conexión a la base de datos

Este notebook asume el mismo setup de Docker del curso (db + jupyter).

- Si no levantaste Docker:
  - Abre una terminal en `labs/lab-2-terminology-semantics/`
  - `docker compose up -d`

In [18]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection string
engine = create_engine('postgresql://uvg_user:uvg_password@db:5432/health_data')

# Simple query to test the foundation layer
try:
    df = pd.read_sql("SELECT 1 as connection_status", engine)
    print("Connection Successful! Your Biomedical Data Stack is ready.")
    print(df)
except Exception as e:
    print(f"Connection Failed: {e}")

Connection Successful! Your Biomedical Data Stack is ready.
   connection_status
0                  1

### Re-crear el modelo de datos de los laboratorios pasados

Vas a ejecutar el scripts SQL `sql/002_ehr_schema.sql` → crea tablas y llenar de datos.

> [!TIP]
> Ejecuta los scripts desde tu terminal (PowerShell) así:
>
> ```powershell
> Get-Content .\sql\002_ehr_schema.sql | docker compose exec -T db psql -U uvg_user -d health_data
> ```

### Ver qué tablas existen

In [19]:
pd.read_sql("""
SELECT table_schema, table_name
FROM information_schema.tables
WHERE table_schema='public'
ORDER BY table_name;
""", engine)

   table_schema                     table_name
0        public                     admissions
1        public                     d_labitems
2        public                      diagnoses
3        public                      labevents
4        public  map_diagnosis_text_to_concept
5        public         map_labitem_to_concept
6        public                       patients
7        public           terminology_concepts
8        public            terminology_systems
9        public              v_diagnoses_coded
10       public               v_labitems_coded

## 1) BEFORE: Analítica con texto libre (sin terminología)

Primero veremos el problema: _mismo concepto, textos distintos_.

### 1.1 Conteo de diagnósticos por texto (raw)

In [3]:
pd.read_sql("""
SELECT diagnosis_text, COUNT(*) AS n
FROM diagnoses
GROUP BY diagnosis_text
ORDER BY n DESC, diagnosis_text;
""", engine)

                  diagnosis_text  n
0            Acute Kidney Injury  1
1                   Appendicitis  1
2            Asthma exacerbation  1
3                     Chest pain  1
4                    Dehydration  1
5   Elective procedure follow-up  1
6                  Heart failure  1
7                   Hypertension  1
8                      Pneumonia  1
9                         Sepsis  1
10                        Trauma  1
11       Urinary tract infection  1

**Observa:** si hay typos o variaciones, aparecen como categorías separadas.

### 1.2 Conteo de labs por label (raw)

In [4]:
pd.read_sql("""
SELECT label, COUNT(*) AS n_items
FROM d_labitems
GROUP BY label
ORDER BY n_items DESC, label;
""", engine)

               label  n_items
0         Creatinine        1
1         Hemoglobin        1
2            Lactate        1
3          Platelets        1
4  White Blood Cells        1

## 2) Crear el “mini terminology server” (tablas)

Vas a ejecutar 3 scripts SQL en orden:

1. `sql/003_terminology_schema.sql` → crea tablas
2. `sql/004_seed_terminology.sql` → llena códigos + sinónimos + mappings
3. `sql/005_apply_mappings.sql` → aplica los mappings al EHR

> [!TIP]
> Ejecuta los scripts desde tu terminal (PowerShell) así:
>
> ```powershell
> Get-Content .\sql\003_terminology_schema.sql | docker compose exec -T db psql -U uvg_user -d health_data
> ```
>
> Repite igual para 004 y 005.

### ✅ Checkpoint A

Cuando termines de ejecutar los scripts, corre la celda de abajo y confirma que ves estas tablas:

- `terminology_systems`
- `terminology_concepts`
- `map_diagnosis_text_to_concept`
- `map_labitem_to_concept`

> Si no aparecen, revisa que corriste `003_terminology_schema.sql` en la DB correcta.

In [5]:
pd.read_sql("""
SELECT table_name
FROM information_schema.tables
WHERE table_schema='public'
  AND table_name IN (
    'terminology_systems',
    'terminology_concepts',
    'map_diagnosis_text_to_concept',
    'map_labitem_to_concept'
  )
ORDER BY table_name;
""", engine)

                      table_name
0  map_diagnosis_text_to_concept
1         map_labitem_to_concept
2           terminology_concepts
3            terminology_systems

## 3) Simular “API”: buscar conceptos y resolver mapeos

Un terminology service real expone APIs para:

- buscar conceptos por texto
- devolver el concepto “oficial” (system + code + display)
- resolver equivalencias / mapeos desde términos locales

Aquí lo simulamos con SQL.

### 3.1 Buscar en el catálogo de conceptos (por display)

In [48]:
term = "lactate"  # prueba: 'sepsis', 'htn', 'pneumonia', 'creatinine', 'lactate'

pd.read_sql(
    """
    SELECT
      s.system_name,
      c.code,
      c.display,
      c.concept_type
    FROM terminology_concepts c
    JOIN terminology_systems s ON s.system_id = c.system_id
    WHERE LOWER(c.display) LIKE LOWER(%(q)s)
    ORDER BY s.system_name, c.code;
    """,
    engine,
    params={"q": f"%{term}%"},
)

  system_name    code                          display concept_type
0       LOINC  2524-7  Lactate [Moles/volume] in Blood          lab

## 4) AFTER: Analítica con códigos (semántica)

### 4.1 Diagnósticos por ICD-10 (ya codificados)

In [38]:
pd.read_sql("""
SELECT code, code_display, COUNT(*) AS n
FROM diagnoses
WHERE code IS NOT NULL
GROUP BY code, code_display
ORDER BY n DESC, code;
""", engine)

      code                                 code_display  n
0    A41.9                 Sepsis, unspecified organism  1
1      I10             Essential (primary) hypertension  1
2    J18.9              Pneumonia, unspecified organism  1
3  J45.901         Unspecified asthma with exacerbation  1
4    N17.9            Acute kidney failure, unspecified  1
5    N39.0  Urinary tract infection, site not specified  1
6    R07.9                      Chest pain, unspecified  1
7   T14.90       Injury, unspecified, initial encounter  1
8      Z09               Follow-up exam after treatment  1

### 4.2 ¿Qué diagnósticos quedaron SIN código?

Esto pasa en hospitales reales. Es parte del reto.

In [37]:
pd.read_sql("""
SELECT diagnosis_text, COUNT(*) AS n
FROM diagnoses
WHERE code IS NULL
GROUP BY diagnosis_text
ORDER BY n DESC, diagnosis_text;
""", engine)

  diagnosis_text  n
0   Appendicitis  1
1    Dehydration  1
2  Heart failure  1

### 4.3 Labs por LOINC (ya codificados)

In [46]:
pd.read_sql("""
SELECT code, code_display, COUNT(*) AS n_items
FROM d_labitems
WHERE code IS NOT NULL
GROUP BY code, code_display
ORDER BY n_items DESC, code;
""", engine)

     code                                 code_display  n_items
0  2160-0  Creatinine [Mass/volume] in Serum or Plasma        1
1  2524-7              Lactate [Moles/volume] in Blood        1
2  6690-2               Leukocytes [#/volume] in Blood        1
3   718-7            Hemoglobin [Mass/volume] in Blood        1
4   777-3                Platelets [#/volume] in Blood        1

## 5) Ejercicio: mejora la cobertura de codificación

### Tarea 5.1 — Completa mappings faltantes (diagnósticos)

1. Identifica diagnósticos sin código (celda 4.2)
2. Encuentra el concepto correcto en `terminology_concepts` (ICD-10 mini)
3. Inserta el mapping en `map_diagnosis_text_to_concept`
4. Re-ejecuta `sql/005_apply_mappings.sql`

> [!IMPORTANT]
> No inventes códigos: usa únicamente los del mini catálogo.

In [36]:
from sqlalchemy import text

sql = """
INSERT INTO map_diagnosis_text_to_concept (diagnosis_text, concept_id)
VALUES
('Asthma exacerbation', (
   SELECT concept_id
   FROM terminology_concepts c
   JOIN terminology_systems s ON s.system_id=c.system_id
   WHERE s.system_name='ICD-10'
     AND c.code='J45.901'
)),
('Chest pain', (
   SELECT concept_id
   FROM terminology_concepts c
   JOIN terminology_systems s ON s.system_id=c.system_id
   WHERE s.system_name='ICD-10'
     AND c.code='R07.9'
)),
('Hypertension', (
   SELECT concept_id
   FROM terminology_concepts c
   JOIN terminology_systems s ON s.system_id=c.system_id
   WHERE s.system_name='ICD-10'
     AND c.code='I10'
)),
('Pneumonia', (
   SELECT concept_id
   FROM terminology_concepts c
   JOIN terminology_systems s ON s.system_id=c.system_id
   WHERE s.system_name='ICD-10'
     AND c.code='J18.9'
)),
('Sepsis', (
   SELECT concept_id
   FROM terminology_concepts c
   JOIN terminology_systems s ON s.system_id=c.system_id
   WHERE s.system_name='ICD-10'
     AND c.code='A41.9'
)),
('Urinary tract infection', (
   SELECT concept_id
   FROM terminology_concepts c
   JOIN terminology_systems s ON s.system_id=c.system_id
   WHERE s.system_name='ICD-10'
     AND c.code='N39.0'
)),
('Acute Kidney Injury', (
   SELECT concept_id
   FROM terminology_concepts c
   JOIN terminology_systems s ON s.system_id=c.system_id
   WHERE s.system_name='ICD-10'
     AND c.code='N17.9'
)),
('Elective procedure follow-up', (
   SELECT concept_id
   FROM terminology_concepts c
   JOIN terminology_systems s ON s.system_id=c.system_id
   WHERE s.system_name='ICD-10'
     AND c.code='Z09'
)),
('Trauma', (
   SELECT concept_id
   FROM terminology_concepts c
   JOIN terminology_systems s ON s.system_id=c.system_id
   WHERE s.system_name='ICD-10'
     AND c.code='T14.90'
))
ON CONFLICT (diagnosis_text) DO NOTHING;
"""

with engine.begin() as conn:
    conn.execute(text(sql))

print("Mappings insertados correctamente")

Mappings insertados correctamente

### Tarea 5.2 — Completa mappings faltantes (labs)

Haz lo mismo con `d_labitems` → LOINC mini:

1. Crea/usa un labitem local (label/unit)
2. Encuentra el concepto LOINC en `terminology_concepts`
3. Inserta el mapping en `map_labitem_to_concept`
4. Re-ejecuta `sql/005_apply_mappings.sql`

In [45]:
pd.read_sql("""
SELECT code, code_display, COUNT(*) AS n_items
FROM d_labitems
WHERE code IS NULL
GROUP BY code, code_display
ORDER BY n_items DESC, code;
""", engine)
#No hay ningún d_labitem que falte mapear.

Empty DataFrame
Columns: [code, code_display, n_items]
Index: []

## 6) Mini-analítica clínica: “Sepsis proxy” (con y sin terminología)

Definición didáctica (NO clínica real):

- WBC > 12 **o** Lactate > 2

### 6.1 Sin terminología: filtrar por labels

In [42]:
pd.read_sql("""
WITH piv AS (
  SELECT
    le.hadm_id,
    MAX(CASE WHEN li.label = 'White Blood Cells' THEN le.value_num END) AS max_wbc,
    MAX(CASE WHEN li.label = 'Lactate' THEN le.value_num END) AS max_lactate
  FROM labevents le
  JOIN d_labitems li ON li.labitem_id = le.labitem_id
  GROUP BY le.hadm_id
)
SELECT *
FROM piv
WHERE max_wbc > 12 OR max_lactate > 2
ORDER BY hadm_id;
""", engine)

   hadm_id  max_wbc  max_lactate
0        3     18.4          3.8
1        5     14.2          2.2
2        6     12.5          NaN
3       10     13.0          NaN

### 6.2 Con terminología: filtrar por LOINC (más robusto)

In [43]:
pd.read_sql("""
WITH piv AS (
  SELECT
    le.hadm_id,
    MAX(CASE WHEN li.code = '6690-2' THEN le.value_num END) AS max_wbc,
    MAX(CASE WHEN li.code = '2524-7' THEN le.value_num END) AS max_lactate
  FROM labevents le
  JOIN d_labitems li ON li.labitem_id = le.labitem_id
  GROUP BY le.hadm_id
)
SELECT *
FROM piv
WHERE max_wbc > 12 OR max_lactate > 2
ORDER BY hadm_id;
""", engine)

   hadm_id  max_wbc  max_lactate
0        3     18.4          3.8
1        5     14.2          2.2
2        6     12.5          NaN
3       10     13.0          NaN

## 7) Reflexión (para escribir en el PR)

Responde en el texto del PR:

1. ¿Qué cambió en la analítica al pasar de texto libre → códigos? (1–3 frases)
2. ¿Por qué no basta con “guardar el nombre” del lab o diagnóstico?
3. ¿Qué te faltaría para que esto sea un “terminology server” real (en producción)?

> [!TIP]
> Piensa en: API, versiones, mappings oficiales, validación, gobernanza, logs.