In [1]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection string
engine = create_engine('postgresql://uvg_user:uvg_password@db:5432/health_data')

# Simple query to test the foundation layer
try:
    df = pd.read_sql("SELECT 1 as connection_status", engine)
    print("Connection Successful! Your Biomedical Data Stack is ready.")
    print(df)
except Exception as e:
    print(f"Connection Failed: {e}")

Connection Successful! Your Biomedical Data Stack is ready.
   connection_status
0                  1

In [2]:
df = pd.read_sql("""
SELECT patient_id, sex, birth_date, created_at
FROM patient
ORDER BY patient_id;
""", engine)

df

   patient_id sex  birth_date                 created_at
0           1   F  1990-05-12 2026-01-17 04:44:49.624045
1           2   M  1984-11-03 2026-01-17 04:44:49.624045
2           3   O  2001-07-21 2026-01-17 04:44:49.624045
3           4   F  1975-02-18 2026-01-17 04:44:49.624045
4           5   M  1998-09-30 2026-01-17 04:44:49.624045

In [3]:
df = pd.read_sql(""" SELECT patient_id, sex, birth_date, city, has_chronic_condition, created_at FROM patient ORDER BY patient_id; """, engine)

In [4]:
query = """
SELECT
    sex,
    COUNT(*) AS count
FROM patient
GROUP BY sex
ORDER BY sex;
"""

pd.read_sql(query, engine)

  sex  count
0   F      2
1   M      2
2   O      1

In [ ]:
query = """
SELECT
    sex,
    COUNT(*) AS count
FROM patient
GROUP BY sex
ORDER BY sex;
"""

pd.read_sql(query, engine)

In [5]:
query = """
SELECT
    COUNT(*) AS count
FROM patient
WHERE has_chronic_condition = true;
"""

pd.read_sql(query, engine)

   count
0      2

In [7]:
query = """
SELECT
    city,
    COUNT(*) AS count
FROM patient
GROUP BY city
ORDER BY count DESC;
"""

pd.read_sql(query, engine)

             city  count
0       Guatemala      2
1         Antigua      1
2       Escuintla      1
3  Quetzaltenango      1