In [1]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection string
engine = create_engine('postgresql://uvg_user:uvg_password@db:5432/health_data')

# Simple query to test the foundation layer
try:
    df = pd.read_sql("SELECT 1 as connection_status", engine)
    print("Connection Successful! Your Biomedical Data Stack is ready.")
    print(df)
except Exception as e:
    print(f"Connection Failed: {e}")

Connection Successful! Your Biomedical Data Stack is ready.
   connection_status
0                  1

In [10]:
query = """
SELECT COUNT(*) AS n_missing_dob
FROM patients
WHERE date_of_birth IS NULL;
"""
pd.read_sql(query, engine)

   n_missing_dob
0              1

In [11]:
query = """
SELECT COUNT(*) AS n_missing_dob
FROM patients
WHERE date_of_birth IS NULL;
"""
pd.read_sql(query, engine)

   n_missing_dob
0              1

In [12]:
query = """
SELECT COUNT(*) AS n_missing_name
FROM patients
WHERE full_name IS NULL;
"""
pd.read_sql(query, engine)

   n_missing_name
0               1

In [13]:
query= """
SELECT diagnosis_id, hadm_id, diagnosis_text
FROM diagnoses
WHERE diagnosis_text LIKE '%Guate%';
"""
pd.read_sql(query, engine)

TypeError: dict is not a sequence