In [10]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection string
engine = create_engine('postgresql://uvg_user:uvg_password@localhost:5432/health_data')

# Simple query to test the foundation layer
try:
    df = pd.read_sql("SELECT 1 as connection_status", engine)
    print("Connection Successful! Your Biomedical Data Stack is ready.")
    print(df)
except Exception as e:
    print(f"Connection Failed: {e}")

Connection Successful! Your Biomedical Data Stack is ready.
   connection_status
0                  1

In [11]:
query = """
-- escribe tu SQL aquí
"""
df = pd.read_sql(query, engine)
df

ProgrammingError: (psycopg2.ProgrammingError) can't execute an empty query
[SQL:
-- escribe tu SQL aquí
]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [13]:
from sqlalchemy import text

df = pd.read_sql(text("""
SELECT subject_id, external_id, full_name, sex, date_of_birth
FROM patients
WHERE external_id LIKE 'MRN-9%'
ORDER BY external_id;
"""), 
engine
)
df

   subject_id external_id             full_name sex date_of_birth
0           9    MRN-9001    Paciente Sin Fecha   F          None
1          10    MRN-9002                  None   M    1990-01-01
2          11    MRN-9003  Paciente Ciudad Typo   M    1985-09-10

In [14]:
query = """
SELECT COUNT(*) AS n_missing_dob
FROM patients
WHERE date_of_birth IS NULL;
"""
pd.read_sql(query, engine)

   n_missing_dob
0              1

In [15]:
query = """
SELECT COUNT(*) AS n_missing_full_name
FROM patients
WHERE full_name IS NULL;
"""
pd.read_sql(query, engine)

   n_missing_full_name
0                    1

In [18]:
from sqlalchemy import text

df = pd.read_sql(
    text("""
    SELECT hadm_id, diagnosis_text
    FROM diagnoses
    WHERE diagnosis_text LIKE '%Guate%';
    """),
    engine
)
df

   hadm_id              diagnosis_text
0       11  Guateeeemala referral note